*{
    padding: 0;
    margin: 0;
    font-family: wellfleet;
}
body{
    cursor: url(img/cursor.cur), auto;
}
body, html{
    width: 100%;
    overflow-x: hidden;
}
body:after{
    content: "";
    display: block; 
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url(img/fondos/fondo.png);
    background-repeat: no-repeat;
    background-size: 2250px;
    background-attachment: fixed;
    z-index: -2;
}
.presentacion{
    width: 100%;
    height: 80rem;
    background-image: url(img/fondos/iniciopag.gif);
    background-repeat: no-repeat;
    background-size: cover;
}
.header{
    position: absolute;
}
h1{
    font-size: 8rem;
}
h2{
    font-size: 5rem;
}
h3{
    font-size: 3rem;
}
h1, h2, h3{
    color: gray;
    opacity: 100%s;
    margin: 2rem 2rem 0 5rem;
    
}

#ejercicio{
    width: 11rem;
    height: 16rem;
    float: left;
    border-radius: 1rem;
    background-color: aliceblue;
    opacity: 85%;
    margin: 5rem;
    position: relative;
    overflow: hidden;
}
#ejercicio:hover .foto{
    transform: translateY(-25%);
    transition: transform .8s;
}
.foto{
    background-size: cover;
    background-position: center;
    width: 11rem;
    height: 16rem;
    float: left;
    position: relative;
    transform: translateY(0%);
    transition: all .8s ease;
}
.foto#inicio{
    background-image: url(img/inicio.gif);
}
.foto#horario{
    background-image: url(img/horario.gif
    );
}
.foto#feedly{
    background-image: url(img/feedly.gif
    );
}
.foto#ifpagram{
    background-image: url(img/ifpagram.gif
    );
}
.foto#escacs{
    background-image: url(img/escacs.gif
    );
}
.foto#absolute{
    background-image: url(img/absolute.gif
    );
}
.foto#florecita{
    background-image: url(img/flor.gif
    );
}
.foto#micara{
    background-image: url(img/micara.gif
    );
}
.foto#photoshop{
    background-image: url(img/photoshop.gif
    );
}
.foto#pelys{
    background-image: url(img/pelys.gif
    );
}

.foto_hover{
    width: calc(16rem - 5rem);
    height: 4rem;
    font-family: sans-serif;
    vertical-align: middle;
    position: absolute;
    bottom: 0rem;
    opacity: 1;
    padding: 1.25rem;
    background-color: gainsboro;
    transform: translateY(100%);
    transition: all 1s ease;
}
#ejercicio:hover .foto_hover{
    transform: translateY(0%);
    transition: transform .8s;
}
.foto_hover .texto{
    background-color: thistle;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    left: 2.9rem;
    position: absolute;
    text-transform: uppercase;
    font-size: 0.75rem;
    text-decoration: none;
    color: #fff;
    transition: all .6s ease;
}
h4, h5{
    color: cadetblue;
}
h5{
    font-size: 0.6rem;
}
a{
    background-color: dodgerblue;
    text-decoration: none;
    list-style: none;
    color: white;
    text-align: center;
}

/*web de ejemplo(https://codepen.io/vlai/pen/dMeYdE?editors=1100)*/

/*disenio mobil vertical*/
    @media screen and (max-width: 480px) {
        body{
            background-image: url(img/fondo2.gif);
            background-repeat: no-repeat;
            background-size: 2250px;
            background-attachment: fixed;        
        }
    }
/*disenio mobil apaisado*/
    @media screen and (min-width: 480px) and (max-width: 1024px) {
        body{
            background: lightskyblue;
        }
    }