*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

#sol, #luna{
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    display: inline-block;
}

#sol{
    background: gold;
    display: inline-block;
}
#luna{
    background: #FFF;
    box-shadow: inset lightslategray -2rem -2rem;
    display: inline-block;
}
